<div class="container height-70">
<div>
	<!-- <p>Introduction</p> -->
<div class="col-md-12 margin-10">
     <textarea class="form-control" rows="5" placeholder="Introduction" autocomplete="off" style="resize: none;"></textarea>
</div>
<div class="margin-30">
	<button type="button" class="btn btn-secondary">Update</button>
</div>
</div>

<div>
	<!-- <p>Experience</p> -->
<div class="col-md-12 margin-10">
     <textarea class="form-control" rows="5" placeholder="Experience" autocomplete="off" style="resize: none;"></textarea>
</div>
<div class="margin-30">
	<button type="button" class="btn btn-secondary">Update</button>
</div>
</div>
</div>