<div style="background: #dbe3e7;">
<div class="container height-56">
  <span class="get-touch">Get In Touch</span>
  <div id="map-container-google-2" class="z-depth-1-half map-container" style="height: 250px; width: 100%;">
  <iframe src="https://maps.google.com/maps?q=indore&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
    style="border:0" allowfullscreen></iframe>
</div>
 <div class="row cs-txt-center">
   <div class="col-md-4">
    <div class="margin10">
        <div class="font-weight700">Address :</div>
        <div>Indore</div>
      </div>
      <div class="margin10">
        <div class="font-weight700">Email :</div>
        <div>singhmadhukar11@gmail.com</div>
      </div>

      <div class="margin10">
        <div class="font-weight700">Social :</div>
        <div>
          <a href="www.facebook.com/madhukarsingh" class="fa fa-facebook"></a>
          <a href="www.linkedin.com/madhukarsingh" class="fa fa-linkedin"></a>
          <a href="www.instagram.com/madhukarsingh" class="fa fa-instagram"></a>
          <a href="#" class="fa fa-skype"></a>
        </div>
      </div>
      
   </div>
   <div class="col-md-8">
      <form>
    <div class="row modal-body">
  <div class="col-md-6 md-query-15">
    <div>
      <input type="text" class="form-control"  placeholder="Name" name="name" autocomplete="off">
    </div>
  </div>
  <div class="col-md-6">
   <div>
      <input type="email" class="form-control" id="email" placeholder="Email" name="email" autocomplete="off">
    </div>
  </div>
</div>
    <div class="col-md-12">
     <textarea class="form-control" rows="5" placeholder="Comment" autocomplete="off" ></textarea>
    </div>
    <div class="modal-body">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
   </div>
 </div>
</div>

</div>

